:root {}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

section {
  margin: auto;
}

@media screen and (min-width: 769px) {
  section {
    max-width: calc(100vw - 10rem);
  }
}


@media screen and (max-width: 768px) {
  section {
    max-width: calc(100vw - 4rem) !important;
  }
}

@media screen and (max-width: 480px) {
  section {
    max-width: calc(100vw - 1rem) !important;
  }
}

* {
  font-family: 'Courier New',
    Courier,
    monospace;
}